<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Topic Selection</title>
  <link rel='stylesheet' href='{{url_for("static",filename="styles.css")}}'>
  <link rel='stylesheet' href='{{url_for("static",filename="reset.css")}}'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script> 
    <script>
        function validateForm() {
            const year = document.getElementById('year').value;
            const department = document.getElementById('department').value;

            if (year === "Select" || department === "Select") {
                alert("Please select both Year and Department.");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>

<div class='main-container' >
    <h1>Select Year and Department</h1>
    <div class='body-container' >
    <form action="{{ url_for('topics') }}" method="post" onsubmit="return validateForm()">
        <label for="year">Year:</label>
        <select name="year" id="year" required>
            <option disabled selected>Select</option>
            <option value="II year">II year</option>
            <option value="III year">III year</option>
            <option value="IV year">IV year</option>
        </select>
        <br><br>
        <label for="department">Department:</label>
        <select name="department" id="department" required>
            <option disabled selected>Select</option>
            <option value="CSE">CSE / IT / AI&DS </option>
            <option value="ECE">ECE</option>
            <option value="EEE">EEE</option>
            <option value="MECH">MECH</option>
            <option value="CIVIL">CIVIL</option>
        </select>
        <br><br>
        <button type="submit">Submit</button>
    </form>
    <br><br>
</div>
</div>
  <br>
  <form action="{{ url_for('reset') }}" method="post" class="reset">
    <button type="submit" >Reset Selected Topics</button>
</form>
</body>
</html>